.coffee__card-workaround {
  padding-top: 60px;

  &__functionality {
    display: flex;
    width: 747px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .home-card {
     background-color: #fff;
     &__list {
       margin-top: 61px;
       filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
     }
  }
}

@media (max-width: 991px) {
  .coffee__card-workaround {
    &__functionality {
      width: 700px;
    }
  }
}

@media (max-width: 767px) {
  .coffee__card-workaround {
    &__functionality {
      flex-direction: column;
      align-content: flex-start;
      row-gap: 15px;
      width: 515px;
    }
  }
}

@media (max-width: 575px) {
  .coffee__card-workaround {
    &__functionality {
      align-content: center;
      width: 325px;
    }
  }
}



