.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: #fff;
  text-align: center;
}

.main {
  background: url('../resources/img/bg/first-main-bg.jpg') center center / cover no-repeat;
  min-height: 100vh;
  padding: 30px 0 201px;

  .coffee-bean-divider {
    &:before, &:after {
      background-color: #fff;
    }
  }

  &__title {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 128px;
  }

  &__subtitle__fist__part, &__subtitle__second__part {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
    text-align: center;
  }

  &__subtitle__second__part {
    margin-top: 20px;
  }

  &__btn {
    display: block;
    width: 120px;
    height: 30px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background-color: transparent;
    border-radius: 3px;
    margin: 18px auto 0;
    cursor: pointer;
  }
}

.about {
  padding: 83px 0 101px;

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
  }

  &__descr {
    max-width: 591px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 40px auto 0;
    text-align: center;
  }
}

.recommend {
  padding: 80px 0 110px;
  min-height: 495px;
  background: url("../resources/img/bg/paper-bg.jpg") center center / cover no-repeat;

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
  }
}

