.coffee-bean-divider {
  margin: auto 0;
  position: relative;
  text-align: center;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:before {
    bottom: 50%;
    right: 53%;
  }

  &:after {
    bottom: 50%;
    left: 53%;
  }
}

@media (max-width: 992px) {
  .coffee-bean-divider {
    &:before {
      right: 54%;
    }

    &:after {
      left: 54%;
    }
  }
}

@media (max-width: 768px) {
  .coffee-bean-divider {
    &:before {
      right: 56%;
    }

    &:after {
      left: 56%;
    }
  }
}
