.nav {
  display: flex;
  align-items: end;

  &-list {
    width: 355px;
    display: flex;
    justify-content: space-between;

    &__item {
      &-link {
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        color: #fff;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@media (max-width: 768px) {
  .nav {
      justify-content: center;
  }
}

@media (max-width: 576px) {
  .nav {
    &-list {
      &__item {
        &-link {
          font-size: 13px;
        }
      }
    }
  }
}