.nav {
  display: flex;
  align-items: center;

  &-list {
    width: 355px;
    display: flex;
    justify-content: space-between;

    &__item {
      &-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #fff;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}